<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.common.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrCreateCartServlet</servlet-name>
        <servlet-class>control.common.LoadOrCreateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>control.common.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>control.common.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveAccountAddresses</servlet-name>
        <servlet-class>control.common.RetrieveAccountAddresses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAddressServlet</servlet-name>
        <servlet-class>control.common.AddAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAddressServlet</servlet-name>
        <servlet-class>control.common.UpdateAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAddressServlet</servlet-name>
        <servlet-class>control.common.DeleteAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>control.common.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveAccountMetodiPagamento</servlet-name>
        <servlet-class>control.common.RetrieveAccountMetodiPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMetodoPagamentoServlet</servlet-name>
        <servlet-class>control.common.AddMetodoPagamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMetodoPagamentoServlet</servlet-name>
        <servlet-class>control.common.UpdateMetodoPagamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>control.common.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>control.common.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>control.common.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveAccountCartServlet</servlet-name>
        <servlet-class>control.common.RetrieveAccountCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <servlet-class>control.common.RemoveCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>control.common.CatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartItemServlet</servlet-name>
        <servlet-class>control.common.UpdateCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizeOrderServlet</servlet-name>
        <servlet-class>control.common.FinalizeOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveAccountOrdersServlet</servlet-name>
        <servlet-class>control.common.RetrieveAccountOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <servlet-class>control.admin.ManageOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMetodoPagamento</servlet-name>
        <servlet-class>control.common.DeleteMetodoPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>control.admin.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadOrCreateCartServlet</servlet-name>
        <url-pattern>/LoadOrCreateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveAccountAddresses</servlet-name>
        <url-pattern>/RetrieveAccountAddresses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAddressServlet</servlet-name>
        <url-pattern>/AddAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAddressServlet</servlet-name>
        <url-pattern>/UpdateAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAddressServlet</servlet-name>
        <url-pattern>/DeleteAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveAccountMetodiPagamento</servlet-name>
        <url-pattern>/RetrieveAccountMetodiPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMetodoPagamentoServlet</servlet-name>
        <url-pattern>/AddMetodoPagamentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMetodoPagamentoServlet</servlet-name>
        <url-pattern>/UpdateMetodoPagamentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/ProductDetailsServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>common/IndexServlet</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveAccountCartServlet</servlet-name>
        <url-pattern>/RetrieveAccountCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <url-pattern>/RemoveCartItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/CatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartItemServlet</servlet-name>
        <url-pattern>/UpdateCartItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizeOrderServlet</servlet-name>
        <url-pattern>/FinalizeOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveAccountOrdersServlet</servlet-name>
        <url-pattern>/RetrieveAccountOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <url-pattern>/ManageOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMetodoPagamento</servlet-name>
        <url-pattern>/DeleteMetodoPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/UpdateOrderStatusServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
